#container{
    display: flex;
    justify-content: center;
}
body {
    background-color:skyblue;
    padding: 50px;
    font-family:  sans-serif;
}
#site-title {
    display: flex;
    justify-content: center;
}